<ul class="nav">
    <li><a href="/" class="active" >Home</a></li>
    <li><a href="weathermap" >Weather Map</a></li>
    <li><a href="harrypotter" >Harry Potter</a></li>
    <li><a href="nasa" >NASA APOD</a></li>
    <li><a href="pokemon" >Pokemon</a></li>
    <li><a href="superhero" >Superhero</a></li>
</ul>