<form action="/superhero" method="post">
    <input type="number" name="number">
    <input type="submit" value="superhero!">
</form>

{{#each response}}
<p>{{@key}}: {{this}}</p>
{{/each}}

<!--{{#each powerData}}
<p>{{this}}</p>
{{/each}}-->